In [1]:
import spacy

nlp=spacy.load("en_core_web_sm")

In [2]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [4]:
doc=nlp("Tesla Inc is going to acquire twitter for $45 bollion")

for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
45 | MONEY | Monetary values, including unit

In [5]:
from spacy import displacy

displacy.render(doc,style="ent")

In [8]:
doc=nlp("Tesla Inc is going to acquire Twitter Inc for $45 bollion")

for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
Twitter Inc | ORG | Companies, agencies, institutions, etc.
45 | MONEY | Monetary values, including unit

In [9]:
from spacy import displacy

displacy.render(doc,style="ent")

In [10]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [13]:
doc=nlp("Michael Bloomberg founded Bloomberg L.P. in 1982")

for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg L.P. | PERSON | People, including fictional
1982 | DATE | Absolute or relative dates or periods

In [17]:
doc=nlp("Tesla is going to acquire Twitter for $45 bollion")

for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Tesla | ORG | Companies, agencies, institutions, etc.
Twitter | PRODUCT | Objects, vehicles, foods, etc. (not services)
45 | MONEY | Monetary values, including unit

In [20]:
doc[2]

going

In [18]:
type(doc[2])

spacy.tokens.token.Token

In [21]:
doc[2:5]  # It is Span i.e. substring of tokens

going to acquire

In [19]:
type(doc[2:5])

spacy.tokens.span.Span

#### Set the enr systemm itself i.e. we change twitter product to ORG

In [22]:


from spacy.tokens import Span

s1=Span(doc,5,6,label='ORG')

doc.set_ents([s1],default='unmodified')

In [23]:
for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Tesla | ORG | Companies, agencies, institutions, etc.
Twitter | ORG | Companies, agencies, institutions, etc.
45 | MONEY | Monetary values, including unit

### Excersie: 1
Extract all the Geographical (cities, Countries, states) names from a given text

In [37]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)
geo=[]
for ent in doc.ents:
    if ent.label_=='GPE' and ent.text!='Pongal':
        geo.append(ent.text)
print("All Geographical Names are :",geo)

All Geographical Names are : ['India', 'Delhi', 'Gujarat', 'Tamilnadu', 'Andhrapradesh', 'Assam', 'Bihar']

### Excersie: 2
Extract all the birth dates of cricketers in the given Text

In [38]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)
dob=[]

for ent in doc.ents:
    if ent.label_=='DATE':
        dob.append(ent)
print("All DOB are :",dob)

All DOB are : [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]